<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinecms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineCMS">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />


        <activity
            android:name=".AdminProfileActivity" />

        <activity
            android:name=".RegisterAdminActivity"
            android:parentActivityName=".AdminProfileActivity" />

        <activity
            android:name=".ProfileSettingsActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".MyComplaintsActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".NewComplaintActivity"
            android:parentActivityName=".ProfileActivity" />

        <activity android:name=".ProfileActivity" />

        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LocationHelper"
            android:parentActivityName=".NewComplaintActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>